
.background{
    background-color:#1E213A;   
    position: relative;

    
}

.form{
    display: flex;
    justify-content: space-between;
    padding: 18px 12px 0px 12px;
    
}
.input{
    background-color: #6E707A;
    color:#E7E7EB;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    width: 161px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.input:hover{
    box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
    transform:scale(0.98) ;
transition: all 0.1s;
}

.input span{
    color:#E7E7EB;
    font-family: Raleway;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
backface-visibility: hidden;
};


#iconLocation{
fill: red!important
}

.elipse{
background-color:#6E707A4D;
width: 40px;
height: 40px;
border-radius: 50px;
box-shadow: 0px 4px 4px 0px #00000040;
display:flex;
justify-content: center;
align-items: center;
z-index: 1;
position: relative;
cursor: pointer;
}
.elipseb{
background-color:#FFFFFF4D;
width: 40px;
height: 40px;
border-radius: 50px;
box-shadow: 0px 4px 4px 0px #00000040;
display:inline;
justify-content: center;
align-items: center;
position: absolute;
left:0;
right:0;
margin:0 auto;
cursor: pointer;
}

.elipse:hover{
    box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
    transform:scale(0.98) ;
    transition: all 0.1s;
}

@media (min-width:1440px){
    .form{
        padding-top: 42px;
        margin-bottom: 21px;
    }
    
}